<html>
	<head>
		<title>mypmwork</title>
		<!-- Latest compiled and minified Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- Latest compiled Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    	<script src="https://apis.google.com/js/platform.js" async defer></script>
    	<script>
			    

    	</script>
		<style>
			html, body{
				height: 100%;
				margin: 0;
			}
			footer {
				height: 50px;
			}
			h1 {
				font-size: 24px !important;
			}
			.mainView {
				min-height: 100%;
				margin-bottom: -50px;
			}
			.login-container{
				min-height: 66%;
				margin-bottom: 0px;
			}
			.internal-top-row, .internal-email-row {
				min-height: 25%
			}
			td { border-right: 1px solid black !important; height: 35px !important;}
		</style>
		<meta name="robots" content="noindex nofollow">
		<meta name="google-signin-scope" content="profile email">
    	<meta name="google-signin-client_id" content={{G_CID}}>
  	</head>

  	<!-- Begin Body -->
    <body class="container">
    	<!-- Begin mainView-->
    	<div class="container mainView">
    		<div class="row empty-row mb-4">
    		</div>
    		<!-- Begin login-container row -->
    		<div class="row login-container mt-4">
    			<!-- Begin empty left col-->
	    		<div class="col empty-col">
	    		</div>
				<!-- End empty left col-->

    			<!-- Begin login-box container-->
				<div class="login-box container col-4 border barder-dark">

						<!-- Begin internal login top row -->
						<div class="row internal-top-row">
						</div>
						<!-- End internal login top row -->

						<div class="row internal-google-row mb-2">
							<div class="col-1">
							</div>
							<div class="col">
								<h1 class="text-center"><a href="/">mypmwork.com</a></h1>
							</div>
						</div>
						<div class="row mt-4 d-flex">
								<!--div class="g-signin2" style="width:275" data-onsuccess="onSignIn" data-theme="light"></div-->
								<!--div id="firebaseui-auth-container"></div>
								<div id="loader"></div-->
							<div class="col-4">	
							</div>
							<div class="col-6 justify-content-center">
        						<a href="/auth/google" style="width:275" data-theme="light"> Sign In with Google</a>
							</div>
							<div class="col">	
							</div>
						</div>
						<div class="row internal-email-row mb-2 pt-4">
							<div class="col-1">
							</div>
							<div class="col">
								<p class="text-center" style="font-size:12">Don't have an account? <a href="#">Sign up</button></p>
							</div>
						</div>
						<!-- End internal email-row -->
						<!-- Begin empty row -->
						<div class="row mb-4 empty-row">
						</div>
						<!-- End empty row -->
						<!-- Begin terms-row -->
						<div class="row terms-row">
							<div class="col-1 mr-0 mt-4 empty-col">
							</div>
							<div class="col ml-0 mr-0 mt-4">
								<p class="" style="font-size:10">This site is protected by the Google <a href="#">privacy policy</a> and</br><a href="#"> Terms of Service apply</a></p>
							</div>
						</div>
						<!-- End terms-row -->
				</div>
				<!-- End login-box container -->
				
				<!-- Begin empty right col-->
				<div class="col empty-col">
				</div>
				<!-- End empty right col-->
    		</div>		
			<!-- End login-container row-->
		</div>
		<!-- End mainView -->
		<!-- Begin Footer -->
	    <footer class="footer">
	    	<!-- Begin Footer Row -->
	    	<div class="row">
	    		<!-- Begin empty left column -->
	    		<div class="col">
	    		</div>
	    		<!-- End empty left column -->

	    		<!-- Begin Middle column -->
				<div class="col-6">
					<ul class="nav justify-content-center">
						<li class="nav-item"><a class="nav-link" href="/">mypmwork.com</a></li>
						<li class="nav-item"><a class="nav-link" href="/">help</a></li>
						<li class="nav-item"><a class="nav-link" href="/">resources</a></li>
						<li class="nav-item"><a class="nav-link" href="/siteMap">about</a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">sign out</a></li>
					</ul>
	    		</div>
	    		<!-- End Middle column -->

	    		<div class="col">
	    		</div>
	    		<!-- End empty right column -->
	    	</div>
	    	<!-- End Footer Row-->
	    </footer>
	    <!-- End Footer -->
	    <script>
	  //   	function onSignIn(googleUser) {
		 //        // Useful data for your client-side scripts:
		 //        var profile = googleUser.getBasicProfile();
		 //        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
		 //        console.log('Full Name: ' + profile.getName());
		 //        console.log('Given Name: ' + profile.getGivenName());
		 //        console.log('Family Name: ' + profile.getFamilyName());
		 //        console.log("Image URL: " + profile.getImageUrl());
		 //        console.log("Email: " + profile.getEmail());

		 //        // The ID token you need to pass to your backend:
		 //        var id_token = googleUser.getAuthResponse().id_token;
		 //        console.log("ID Token: " + id_token);
		 //  		// send the ID token to the server
			//     var xhr = new XMLHttpRequest();
			//     xhr.open('POST', '/sessionLogin?' + id_token );
			//     // xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
			//     // xhr.onload = function() {
			//     //     console.log('Signed in as:' + xhr.responseText);
			//     // };
			//     // xhr.send('idtoken= ' + id_token);

			// }
		  	// function signOut() {
			  //   var auth2 = gapi.auth2.getAuthInstance();
			  //   auth2.signOut().then(function () {
			  //     	console.log('User signed out.');
			  //   });
    	// 		auth2.disconnect().then(function(){
    	// 			console.log('User disconected.');
    	// 		});
  			// }
	    </script>
    </body>
  	<!-- End Body -->

</html>